#daily-score
  %h1 7.5
#dashboard
  #activity
  #rankings
    %ul
      - @top_users.each_with_index do |user, index|
        %li= link_to "<img src='#{gravatar(user,30)}' alt='#{user.name}'> #{index + 1} #{user.name}".html_safe, user_path(user)