.container
  %h1 Signup
  = form_for @user do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :email
      = f.email_field :email
    %p
      = f.label :zipcode
      = f.text_field :zipcode
    %p
      = f.label :password
      = f.password_field :password
    %p= f.submit

  - if flash[:signup_errors]
    - flash[:signup_errors].each do |error|
      %p= error